export(extract_raceTables)
export(process_raceEvent_files)
export(clean_race_time)
export(extract_points)
export(validate_race_table)
export(process_race_table)
importFrom(rvest, html_elements)
importFrom(rvest, html_text)
importFrom(rvest, html_attr)
importFrom(xml2, read_html)
importFrom(magrittr, "%>%")
